import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import graphviz
from sklearn.tree import export_graphviz
from sklearn.metrics import classification_report, confusion_matrix
%matplotlib inline

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
dt=pd.read_csv("MoviesOnStreamingPlatforms_updated.csv", index_col = 0)
dt=dt.drop(['ID'], axis = 1)

In [42]:
dt.dtypes

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney               int64
Type                 int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [48]:

from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()

In [49]:
dt['IMDb'] = number.fit_transform(dt['IMDb'].astype('str'))

In [50]:
dt.dtypes

Title               object
Year                 int64
Age                 object
IMDb                 int32
Rotten Tomatoes     object
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney               int64
Type                 int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [51]:
dt_New=pd.DataFrame.drop_duplicates(dt)

In [52]:
dt_New.duplicated().sum()

0

In [53]:
data=dt.drop(['Rotten Tomatoes','Type'],axis=1)
data

,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,77,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,13+,76,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,74,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,13+,74,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,13+,77,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,1980,NaN,51,0,0,0,1,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,36,0,0,0,1,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,46,0,0,0,1,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,55,0,0,0,1,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,82,0,0,0,1,James Algar,"Documentary,Short,Family",United States,English,32.0

In [54]:
data['Age'].isnull().values.any()

True

In [55]:
data.dropna(axis=0,how='any').shape

(7067, 13)

In [56]:
data.dropna(axis=0,how='any',inplace=True)
data

,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,77,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,13+,76,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,74,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,13+,74,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,13+,77,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16726,Richie Rich's Christmas Wish,1998,all,30,0,0,0,1,John Murlowski,"Comedy,Family",United States,English,84.0
16727,The Jungle Book: Mowgli's Story,1998,all,31,0,0,0,1,Nick Marck,"Adventure,Family",United States,English,77.0
16737,The Bears and I,1974,all,51,0,0,0,1,Bernard McEveety,"Drama,Family",United States,English,89.0
16738,Whispers: An Elephant's Tale,2000,all,39,0,0,0,1,Dereck Joubert,"Adventure,Family",United States,English,72.0
16740,The Poof Point,2001,7+,36,0,0,0,1,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0

In [57]:
train, test = train_test_split(data, test_size =0.25)

In [58]:
train.shape

(5300, 13)

In [59]:
test.shape

(1767, 13)

In [88]:
c1 = DecisionTreeClassifier(min_samples_split=100)
c2 = DecisionTreeClassifier(min_samples_split=100)

In [82]:
features = ['Netflix', 'Prime Video', 'Hulu', 
            'Disney',  'Runtime']

In [83]:
X_train = train[features]
y_train = train['IMDb']

X_test = test[features]
y_test = test['IMDb']

In [84]:
tree1 = c1.fit(X_train, y_train)
tree2 = c2.fit(X_train, y_train)

In [85]:
y_pred_t1 = c1.predict(X_train)
y_pred_t2 = c2.predict(X_train)

In [86]:
y_pred1 = c1.predict(X_test)
y_pred2 = c2.predict(X_test)

In [87]:
dot_data = tree.export_graphviz(tree1,feature_names = X_train.columns,class_names=["1","0"], filled=True, precision=4)
graph = graphviz.Source(dot_data, format="png") 
graph

IndexError: list index out of range